<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <title>Mi billetera</title>
  </head>
  <body>
    <main>
      <div class="container px-4 py-5">
        <h1 class="pb-2 border-bottom">Mi billetera</h1>


        <table class="table table-striped">
          <thead>
            <tr>
              <th>TxID Wallet</th>
              <th>Criptomoneda</th>
              <th>Precio de Compra (BUSD)</th>
              <th>Cantidad Comprada</th>


            </tr>
          </thead>
          <tbody>
            <tr th:each="bill : ${billeteraList}">
              <td th:text="${bill.getWallet_idwallet()}"></td>
              <td th:text="${bill.getWallet_idcurrency().getInteger()}"></td>
              <td th:text="${}"></td>
              <td th:text="${}"></td>


            </tr>
          </tbody>
        </table>
      </div>
    </main>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
  </body>
</html>