<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <title>Mi billetera</title>
  </head>
  <body>
    <main>
      <div class="container px-4 py-5">
        <h1 class="pb-2 border-bottom">Mi billetera</h1>


        <table class="table table-striped">
          <thead>
            <tr>
              <th>TxID Wallet</th>
              <th>Criptomoneda</th>
              <th>Precio de Compra (BUSD)</th>
              <th>Cantidad Comprada</th>


            </tr>
          </thead>
          <tbody>
            <tr th:each="product, info : ${listaProductos}">
              <td th:text="${info.index + 1}"></td>
              <td th:text="${product.productname}"></td>
              <td th:text="${product.category.getCategoryname()}"></td>
              <td th:text="${product.supplier.getCompanyname()}"></td>


            </tr>
          </tbody>
        </table>
      </div>
    </main>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
  </body>
</html>